<div class="content">
  <h1 class="mat-h1">Honi buruz</h1>
  <p class="mat-body-1">
    <b>estropadak.eus</b> traineru estropada liga desberdinetako emaitza eta datuak 
    bildu eta era eraginkor batean eskaini nahi dituen proiektu bat da. <br>
    Orrialde honetan azaltzen den informazioa
    hainbat iturri ofizialetatik hartua izan da.
  </p>
  <p class="mat-body-1">
    Web gune honetan, traineru estropada liga nagusien informazioa topatu dezakezu:
  </p>
  <ul>
    <li><a href="/estropadak/ACT/{{year}}">TKE liga (EuskoLabel liga)</a></li>
    <li>KAE liga (<a href="/estropadak/ARC1/{{year}}">KAE-1</a> eta <a href="/estropadak/ARC2/{{year}}">KAE-2</a> mailak)</li>
    <li><a href="/estropadak/euskotren/{{year}}">Euskotren liga (nesken arraunketa)</a></li>
    <li><a href="/estropadak/ete/{{year}}">ETE liga (nesken arraunketa)</a></li>
  </ul>

  <h2 class="mat-h2">Kode irekiko proiektua</h2>
  <p class="mat-body-1">
    2020 udazkena ezkeroztik kode irekiko proiektua bihurtu da eta web gunea osatzen duten
    osagai desberdinen kodea <a href="http://github.com">GitHub-en</a> dago eskuragai edonorentzat. Gaurkoz, 
    web gunearen bezeroaren aldeko <a href="http://github.com/ander2/estropadak-angular">kodea</a>,
    web gunearen zerbitzari aldeko <a href="http://github.com/ander2/estropadak-flask-rest">kodea</a> eta datuak
    irakurri eta antolatzeko <a href="http://github.com/ander2/estropadak-lxml">liburutegia</a> publiko dira.
  </p>

  <p class="mat-body-1">
    Proiektuarekin bat egin nahi baduzu, akatsen bat zuzendu nahi baduzu edota zure laguntza eskaini nahi baduzu,
    ireki "issue" berriak kode biltegietan, edota "issue" hauek konpondu zuen ekarpenaren bidez ("pull request").
  </p>

  <h2 class="mat-h2">Pribatutasuna</h2>
  <p class="mat-body-1">
    Web gune honetan ez dugu cookie-rik erabiltzen, ezta erabiltzaileen jarraipena (tracking) egiten.
  </p>

  <h2 class="mat-h2">Harremana</h2>
  <p class="mat-body-1">
    Gurekin harremanetan jarri nahi baduzu, zure iritzia eman edota  iradokizunen bat egin jarri gurekin harremanetan info
    "a-bildua" estropadak "puntu" eus helbidean edota jarrai gaitzazu Twitter-en 
    <a href="http://twitter.com/estropadak">@estropadak</a> kontuan.
  </p>
</div>