<h1 class="mat-title">Honi buruz</h1>
<p class="mat-body-1">
  <b>estropadak.net</b> traineru estropada liga desberdinetako emaitzak 
  bildu eta eskaini nahi dituen proiektu bat da. Orrialde honetan azaltzen den informazioa
  haibat iturri ofizialetatik hartua izan da.
</p>
<p class="mat-body-1">
  Web gune honetan, traineru estropada liga nagusien informazioa topatu dezakezu:
</p>
<ul>
  <li><a href="/estropadak/ACT/{{year}}">TKE liga (EuskoLabel liga)</a></li>
  <li>KAE liga (<a href="/estropadak/ARC1/{{year}}">KAE-1</a> eta <a href="/estropadak/ARC2/{{year}}">KAE-2</a> mailak)</li>
  <li><a href="/estropadak/euskotren/{{year}}">Euskotren liga (nesken arraunketa)</a></li>
</ul>
<p class="mat-body-1">
  Gurekin harremanetan jarri nahi baduzu, zure iritzia eman, iradokizunak egin edota datuetan
  akatsen bat topatzen baldin baduzu, jarri gurekin harremanetan kelertxiki "a-bildua" gmail
  "puntu" com helbidean.
</p>
