<h1>Honi buruz</h1>
<p>
  <b>estropadak.net</b> traineru estropada liga desberdinetako emaitzak 
  bildu eta eskaini nahi dituen proiektu bat da.
</p>
<p>
  Gure helburua, arraun munduaren inguruko informazioa bildu eta jendearen eskura jartzea da,
  kontsultarako erraza izango den biltegi bat eraiki asmoz.
</p>
<p>
  Gurekin harremanetan jarri nahi baduzu, zure iritzia eman, iradokizunak egin edota datuetan
  akatsen bat topatzen baldin baduzu, jarri gurekin harremanetan kelertxiki "a-bildua" gmail
  "puntu" com helbidean.
</p>
