<div>
  <div>
    <app-estropadak-azken-emaitzak-card [year]="year" [league]="'ACT'"></app-estropadak-azken-emaitzak-card>
  </div>
  <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-around start" fxLayoutAlign.xs="start strectch">
    <div >
      <h2>Sailkapen nagusia</h2>
      <app-estropadak-sailkapena [year]="year" [league]="'ACT'" [showTitle]="'false'"></app-estropadak-sailkapena>
    </div>
    <div >
      <h2>Hurrengo estropadak</h2>
      <app-estropadak-hurrengoak-card [year]="year" [league]="'ACT'"></app-estropadak-hurrengoak-card>
    </div>
  </div>
</div>