<div fxFlex>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="false" disableClose="false">
    [x]
    <app-estropadak-sailkapena year="2017" [league]="liga"></app-estropadak-sailkapena>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="row" class="lerroa">
      <div fxLayout="row" fxFlex="50">
        <div fxFlex fxLayoutAlign="center end">
          <div class="box">
            <img src="assets/logo_euskolabel.png" alt="Eusko label liga" (click)="goToEstropadak('ACT', 2017)">
            <h1 (click)="sailkapenaToogle('ACT')">ACT</h1>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxFlex="50">
        <div fxFlex fxLayoutAlign="center end">
          <div class="box-arc">
            <img src="assets/logo_arc.png" alt="arc" (click)="goToEstropadak('ARC1', 2017)">
            <h1 (click)="sailkapenaToogle('ARC1')">ARC1</h1>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" class="lerroa">
        <div fxFlex fxLayoutAlign="center end" class="box-arc">
          <div>
            <img src="assets/logo_arc.png" alt="arc" (click)="goToEstropadak('ARC2', 2017)">
            <h1 (click)="sailkapenaToogle('ARC2')">ARC2</h1>
          </div>
        </div>
        <div fxFlex fxLayoutAlign="center end">
          <div>
            <img src="assets/logo_euskotren.gif" alt="Euskotren liga"  (click)="goToEstropadak('EUSKOTREN', 2017)">
            <h1 (click)="sailkapenaToogle('EUSKOTREN')">Euskotren</h1>
          </div>
        </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>