<mat-toolbar>
    {{year}} {{league?.toUpperCase()}} liga. Estropada emaitzak
</mat-toolbar>
<mat-nav-list *ngIf="estropadak && estropadak.length > 0; else noestropadak">
  <mat-list-item *ngFor="let estropada of estropadak"
    (click)="onSelect(estropada)">
    <h3 matLine>
      {{ estropada.izena}}
    </h3>
    <p matLine>
      {{estropada.data}}
    </p>
  </mat-list-item>
</mat-nav-list>

<ng-template #noestropadak>
  <div class="mat-subheading-1 alert">
    <div>
      Ez dago estropadarik denboraldi honetan
    </div>
  </div>
</ng-template>