<mat-card>
  <mat-card-title>
    <h1 class="mat-h1">
      Azken estropada emaitzak
    </h1>
  </mat-card-title>
  <mat-card-content>
    <mat-tab-group [selectedIndex]="0" (selectedTabChange)="onChangeLeague($event)">
      @for (tab of tabs; track tab; let index = $index) {
        <mat-tab [label]="tab">
          <div fxLayout fxLayout.xs="column">
            @for (estropada of estropadak; track estropada; let i = $index) {
              <div fxFlex fxFlex.xs="50%" class="box">
                <h3 class="mat-h2">
                  {{estropada.izena}}
                </h3>
                <p class="mat-body grey">
                  {{estropada.data | date:'yyyy-MM-dd HH:mm' }}<br>{{estropada.lekua}}
                </p>
                <mat-table #table [dataSource]="i==0?dataSource:dataSource2">
                  <ng-container matColumnDef="Taldea">
                    <mat-header-cell *matHeaderCellDef> Taldea </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.posizioa}} - {{row.talde_izena}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Denbora">
                    <mat-header-cell *matHeaderCellDef> Denbora </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.denbora}} </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                @if (estropadak.length !== 0) {
                  <p>
                    <a [routerLink]="['/estropada', estropada.id]">Ikusi gehiago</a>
                  </p>
                }
              </div>
            }
            @if (estropadak.length === 0) {
              <mat-list>
                <mat-list-item>
                  Ez dago estropada emaitzarik
                </mat-list-item>
              </mat-list>
            }
          </div>
        </mat-tab>
      }
    </mat-tab-group>
  </mat-card-content>
</mat-card>