<h2>Azken emaitzak</h2>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="onChangeLeague($event)">
  <mat-button-toggle value="ACT" [checked]="league.toUpperCase() === 'ACT'">ACT</mat-button-toggle>
  <mat-button-toggle value="ARC1" [checked]="league.toUpperCase() === 'ARC1'">ARC1</mat-button-toggle>
  <mat-button-toggle value="ARC2" [checked]="league.toUpperCase() === 'ARC2'">ARC2</mat-button-toggle>
</mat-button-toggle-group>

<div fxLayoutAlign="space-around center" fxLayout.xs="column">
  <div fxFlex="45" *ngFor="let estropada of this.estropadak">
    <h3>
      <a [routerLink]="['/estropada', estropada.id]">{{estropada.izena}}</a>
    </h3>
    <p>{{estropada.data}}</p>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="Postua">
        <mat-header-cell *matHeaderCellDef fxFlex="15"> Postua </mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="15"> {{row.posizioa}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Taldea">
        <mat-header-cell *matHeaderCellDef fxLayoutAlign.xs="space-around center"> Taldea </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.talde_izena}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Denbora">
        <mat-header-cell *matHeaderCellDef fxFlex="15"> Denbora </mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="15"> {{row.denbora}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-list *ngIf="estropadak.length === 0">
      <mat-list-item>
        Ez dago estropadarik
      </mat-list-item>
    </mat-list>
  </div>
</div>