<mat-icon (click)="location.back()">keyboard_backspace</mat-icon>
<a href="/">
  <mat-icon>home</mat-icon>
</a>
<div *ngIf="estropada">
    <h1 class="mat-headline">{{estropada.izena}}</h1>
    <h2 class="mat-h2">{{estropada.lekua}} {{estropada.data}}</h2>
    <app-estropada-navegation [estropadaId]="id"></app-estropada-navegation>
    <div *ngIf="estropada.sailkapena">
      <app-estropada-estropada-sailkapena [sailkapena]="estropada.sailkapena"></app-estropada-estropada-sailkapena>
    </div>
    <div *ngFor="let tanda of estropada.tandak">
      <app-estropada-tanda [tanda]="tanda"></app-estropada-tanda>
      <mat-divider></mat-divider>
    </div>
</div>

