@if (estropada) {
  <div class="content">
    <h1 class="mat-h1">{{estropada.izena}}</h1>
    <h2 class="mat-subheading-2">
      {{estropada.data | date:'yyyy-MM-dd HH:mm' }} <br> {{estropada.lekua}}
    </h2>
    <app-estropada-navegation [estropadaId]="id"></app-estropada-navegation>
    @if (estropada.oharrak) {
      <h4>Oharrak: {{estropada.oharrak}}</h4>
    }
    @if (estropada?.sailkapena?.length > 0) {
      <div>
        <app-estropada-estropada-sailkapena [sailkapena]="estropada.sailkapena"></app-estropada-estropada-sailkapena>
      </div>
    } @else {
      <h3 style='text-align: center'>Sailkapena ez dago eskuragarri</h3>
    }
    @for (tanda of estropada?.tandak; track $index) {
      <div>
        <app-estropada-tanda [tanda]="tanda"></app-estropada-tanda>
        <mat-divider></mat-divider>
      </div>
    }
    @if (estropada.bi_jardunaldiko_bandera) {
      <div>
        <h2 class="title">Bi egunetako Sailkapena</h2>
        <app-estropadak-bi-jardunaldiko-sailkapena [sailkapena]="estropada.bi_eguneko_sailkapena">
        </app-estropadak-bi-jardunaldiko-sailkapena>
      </div>
    }
  </div>
}

