@if (estropada) {
  <div class="content">
    <h1 class="mat-h1">{{estropada.izena}}</h1>
    <h2 class="mat-subheading-2">
      {{estropada.data | date:'yyyy-MM-dd HH:mm' }} <br> {{estropada.lekua}}
    </h2>
    <app-estropada-navegation [estropadaId]="id"></app-estropada-navegation>
    @if (estropada.oharrak) {
      <h4>Oharrak: {{estropada.oharrak}}</h4>
    }
    <mat-form-field>
      <mat-label>Kategoria </mat-label>
      <mat-select [(ngModel)]="category" (selectionChange)="onChangeCategory($event)">
        <mat-option value="guztiak">Guztiak</mat-option>
        @for (kat of kategoriak; track kat) {
          <mat-option [value]="kat.code">{{kat.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    @if (estropada?.sailkapena?.length > 0) {
      <div>
        <app-estropada-estropada-sailkapena [sailkapena]="sailkapena" [txapelketa]="true" [federazioSaria]="federazioSaria"></app-estropada-estropada-sailkapena>
        @for (tanda of estropada?.tandak; track tanda) {
          <div>
            <app-estropada-tanda [tanda]="tanda" [league]="estropada.liga"></app-estropada-tanda>
            <mat-divider></mat-divider>
          </div>
        }
      </div>
    } @else {
      <h3 style='text-align: center'>Sailkapena ez dago eskuragarri</h3>
    }
  </div>
}

