<div *ngIf="estropada" class="content">
  <h1 class="mat-h1">{{estropada.izena}}</h1>
  <h2 class="mat-subheading-2">
    {{estropada.data | date:'yyyy-MM-dd HH:mm' }} <br> {{estropada.lekua}}
  </h2>
  <app-estropada-navegation [estropadaId]="id"></app-estropada-navegation>
  <h4 *ngIf="estropada.oharrak">Oharrak: {{estropada.oharrak}}</h4>
  <mat-form-field>
    <mat-label>Kategoria </mat-label>
    <mat-select [(ngModel)]="category" (selectionChange)="onChangeCategory($event)">
      <mat-option value="guztiak">Guztiak</mat-option>
      <mat-option *ngFor="let kat of kategoriak" [value]="kat.code">{{kat.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="estropada?.sailkapena?.length > 0; else no_sailkapena">

    <app-estropada-estropada-sailkapena [sailkapena]="sailkapena" [txapelketa]="true" [federazioSaria]="federazioSaria"></app-estropada-estropada-sailkapena>

    <div *ngFor="let tanda of estropada?.tandak">
      <app-estropada-tanda [tanda]="tanda" [league]="estropada.liga"></app-estropada-tanda>
      <mat-divider></mat-divider>
    </div>
  </div>
  <ng-template #no_sailkapena>
    <h3 style='text-align: center'>Sailkapena ez dago eskuragarri</h3>
  </ng-template>
</div>

