<h3 class="mat-headline">Sailkapen orokorra</h3>
<mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="Taldea">
      <mat-header-cell *matHeaderCellDef> Taldea </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.talde_izena}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Postua">
      <mat-header-cell *matHeaderCellDef> Postua </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.posizioa}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Kalea">
      <mat-header-cell *matHeaderCellDef> Kalea </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.kalea}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="1.z">
      <mat-header-cell *matHeaderCellDef> 1.z </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ziabogak[0]}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="2.z">
      <mat-header-cell *matHeaderCellDef> 2.z </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ziabogak[1]}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="3.z">
      <mat-header-cell *matHeaderCellDef> 3.z </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ziabogak[2]}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Denbora">
      <mat-header-cell *matHeaderCellDef> Denbora </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.denbora}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Puntuak">
      <mat-header-cell *matHeaderCellDef> Puntuak </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.puntuazioa}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

