<mat-card>
  <mat-card-header>
    <mat-card-title>
      Sailkapen orokorra
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="Postua">
        <mat-header-cell *matHeaderCellDef fxFlex="7" fxFlex.xs="15" fxLayoutAlign.xs="start center"> Postua </mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="7" fxFlex.xs="15" fxLayoutAlign.xs="start center"> {{row.posizioa}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Taldea">
        <mat-header-cell *matHeaderCellDef fxLayoutAlign.xs="center center"> Taldea </mat-header-cell>
        <mat-cell *matCellDef="let row" fxLayoutAlign="start center"> {{row.talde_izena}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Kalea">
        <mat-header-cell *matHeaderCellDef fxHide.xs fxFlex="5"> Kalea </mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide.xs fxFlex="5"> {{row.kalea}} </mat-cell>
      </ng-container>

      <ng-container *ngFor="let ziaboga of [].constructor(ziabogak); let i=index">
        <ng-container matColumnDef="{{i}}.z">
          <mat-header-cell *matHeaderCellDef fxHide.xs> {{i + 1}}.z </mat-header-cell>
          <mat-cell *matCellDef="let row" fxHide.xs> {{row.ziabogak[i]}} </mat-cell>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="Denbora">
        <mat-header-cell *matHeaderCellDef fxFlex="15" fxFlex.xs="20"> Denbora </mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="15" fxFlex.xs="20"> {{row.denbora}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Puntuak">
        <mat-header-cell *matHeaderCellDef fxHide.xs fxFlex="5" fxLayoutAlign="space-between center"> Puntuak </mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide.xs fxFlex="5"> {{row.puntuazioa}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
