<h2 class="mat-title">Sailkapen orokorra</h2>
<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="Taldea">
    <mat-header-cell *matHeaderCellDef fxLayoutAlign.xs="space-around center"> Taldea </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.talde_izena}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Postua">
    <mat-header-cell *matHeaderCellDef fxFlex="5"> Postua </mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="5"> {{row.posizioa}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Kalea">
    <mat-header-cell *matHeaderCellDef fxHide.xs fxFlex="5"> Kalea </mat-header-cell>
    <mat-cell *matCellDef="let row" fxHide.xs fxFlex="5"> {{row.kalea}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="1.z">
    <mat-header-cell *matHeaderCellDef fxFlex="15"> 1.z </mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="15"> {{row.ziabogak[0]}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="2.z">
    <mat-header-cell *matHeaderCellDef fxFlex="15"> 2.z </mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="15"> {{row.ziabogak[1]}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="3.z">
    <mat-header-cell *matHeaderCellDef fxFlex="15"> 3.z </mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="15"> {{row.ziabogak[2]}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Denbora">
    <mat-header-cell *matHeaderCellDef fxFlex="15"> Denbora </mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="15"> {{row.denbora}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Puntuak">
    <mat-header-cell *matHeaderCellDef fxHide.xs fxFlex="5" fxLayoutAlign="space-between center"> Puntuak </mat-header-cell>
    <mat-cell *matCellDef="let row" fxHide.xs fxFlex="5" fxLayoutAlign="space-between center"> {{row.puntuazioa}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

