<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="column">
  <!--
  <div fxFlex="80">
    <div class="head" fxFlex>
      <div fxHide.xs fxFlex="20" routerLink="/">
        <h2 class="">{{title}}</h2>
      </div>
      <app-header fxFlex fxFlex.xs="100"></app-header>
    </div>
  </div>
  -->
  <div fxFlex="98">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
  <div fxFlex="2" class="text-center">
    <a routerLink="/honi-buruz">Honi buruz</a>
  </div>
</div>
