<div fxLayout="column">
  <div>
    <mat-sidenav-container class="example-sidenav-container" fullscreen>
      <mat-sidenav #snav [autoFocus]="false" (click)="snav.close()">
        <mat-nav-list>
          <a mat-list-item routerLink=".">
            <mat-icon>rowing</mat-icon>
            Portada
          </a>
          <a mat-list-item routerLink="/bilaketak">
            <mat-icon>search</mat-icon>
            Bilaketak
          </a>
          <a mat-list-item routerLink="/estatistikak">
            <mat-icon>show_chart</mat-icon>
            Grafikak
          </a>
          <a mat-list-item routerLink="/jolastokia">
            <mat-icon>table_view</mat-icon>
            Jolastokia
          </a>
          <a mat-list-item routerLink="/konparaketak">
            <mat-icon>compare_arrows</mat-icon>
            Konparaketak
          </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <div>
          <h1 class="mat-h1">Estropadak</h1>
        </div>
        <mat-nav-list>
          <a mat-list-item routerLink="/estropadak/act/{{ activeYear }}">
            Euskolabel liga
          </a>
          <a mat-list-item routerLink="/estropadak/arc1/{{ activeYear }}">
            KAE1 liga
          </a>
          <a mat-list-item routerLink="/estropadak/arc2/{{ activeYear }}">
            KAE2 liga
          </a>
          <a mat-list-item routerLink="/estropadak/euskotren/{{ activeYear }}">
            Euskotren liga
          </a>
          <a mat-list-item routerLink="/estropadak/ete/{{ activeYear }}">
            ETE liga
          </a>
          <a mat-list-item routerLink="/estropadak/txapelketak/{{ activeYear }}">
            Txapelketak
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/honi-buruz">
            <mat-icon>help</mat-icon>
            Honi buruz
          </a>
        </mat-nav-list>
        <mat-menu #traineruak="matMenu">
          <button mat-menu-item routerLink="/estropadak/act/{{ activeYear }}">
              ACT
            </button>
            <button mat-menu-item routerLink="/estropadak/arc1/{{ activeYear }}">
              ARC-1
            </button>
            <button mat-menu-item routerLink="/estropadak/arc2/{{ activeYear }}">
              ARC-2
            </button>
            <button mat-menu-item routerLink="/estropadak/euskotren/{{ activeYear }}">
              Euskotren
            </button>
            <button mat-menu-item routerLink="/estropadak/ete/{{ activeYear }}">
              ETE
            </button>
            <button mat-menu-item routerLink="/estropadak/txapelketak/{{ activeYear }}">
              Txapelketak
            </button>
          </mat-menu>
        </mat-sidenav>
      <mat-sidenav-content class="estropadak-sidenav-content">
        <app-header (menuClicked)="snav.toggle()"></app-header>
        <router-outlet></router-outlet>
        <!-- <div class="text-center">
          <a routerLink="/honi-buruz">Honi buruz</a>
        </div> -->
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
