<button mat-button [matMenuTriggerFor]="act" class="background-primary-color white-text">
  <span>ACT</span>
</button>
<mat-menu #act="matMenu">
  <button mat-menu-item *ngFor="let year of years?.act" (click)="goToEstropada('act', year)">{{year}}</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="arc1" class="background-primary-color white-text">
  <span>ARC-1</span>
</button>
<mat-menu #arc1="matMenu">
  <button mat-menu-item *ngFor="let year of years?.arc1" (click)="goToEstropada('arc1', year)">{{year}}</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="arc2" class="background-primary-color white-text">
  <span>ARC-2</span>
</button>
<mat-menu #arc2="matMenu">
  <button mat-menu-item *ngFor="let year of years?.arc2" (click)="goToEstropada('arc2', year)">{{year}}</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="euskotren" class="background-primary-color white-text">
  <span>Euskotren</span>
</button>
<mat-menu #euskotren="matMenu">
  <button mat-menu-item *ngFor="let year of years?.euskotren" (click)="goToEstropada('euskotren', year)">{{year}}</button>
</mat-menu>
<a mat-raised-button routerLink="/honi-buruz">Honi buruz</a>