<div fxLayout="column" fxLayoutAlign="start start">
  <div fxLayoutAlign="start center">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToPortada()">
        Portada
      </button>
      <button mat-menu-item [matMenuTriggerFor]="traineruak">
        Traineruak
      </button>
      <button mat-menu-item [matMenuTriggerFor]="batelak">
        Batelak
      </button>
      <button mat-menu-item (click)="goToArraunlariak()">
        Arraunlariak<sup>beta</sup>
      </button>
      <button mat-menu-item (click)="goToEstatistikak()">
        Grafikak
      </button>
      <button mat-menu-item (click)="goToPlayground()">
        Jolastokia
      </button>
    </mat-menu>
    <mat-menu #traineruak="matMenu">
      <button mat-menu-item (click)="goToEstropadak('act')">
        ACT
      </button>
      <button mat-menu-item (click)="goToEstropadak('arc1')">
        ARC-1
      </button>
      <button mat-menu-item (click)="goToEstropadak('arc2')">
        ARC-2
      </button>
      <button mat-menu-item (click)="goToEstropadak('euskotren')">
        Euskotren
      </button>
      <button mat-menu-item (click)="goToEstropadak('ete')">
        ETE
      </button>
      <button mat-menu-item (click)="goToEstropadak('txapelketak')">
        Txapelketak
      </button>
    </mat-menu>
    <mat-menu #batelak="matMenu">
      <button mat-menu-item (click)="goToEstropadak('gbl')">
        Gipuzkoako Liga
      </button>
    </mat-menu>
    <h1>Traineru Estropadak</h1>
  </div>
  <h3>KAE, TKE, Euskotren eta ETE ligen egutegia, emaitzak eta estatistikak.</h3>
</div>
