<div fxLayout="column" fxLayoutAlign="start start">
  <div fxLayoutAlign="start center">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToEstropada()">
        Portada
      </button>
      <button mat-menu-item (click)="goToEstropada('act', years?.act[years?.act.length - 1])">
        ACT
      </button>
      <button mat-menu-item (click)="goToEstropada('arc1', years?.arc1[years?.arc1.length - 1])">
        ARC-1
      </button>
      <button mat-menu-item (click)="goToEstropada('arc2', years?.arc2[years?.arc2.length - 1])">
        ARC-2
      </button>
      <button mat-menu-item (click)="goToEstropada('euskotren', years?.euskotren[years?.euskotren.length - 1])">
        Euskotren
      </button>
      <button mat-menu-item (click)="goToEstropada('ete', years?.ete[years?.ete.length - 1])">
        ETE
      </button>
      <button mat-menu-item (click)="goToArraunlariak()">
        Arraunlariak<sup>beta</sup>
      </button>
      <button mat-menu-item (click)="goToEstatistikak()">
        Grafikak
      </button>
      <button mat-menu-item (click)="goToPlayground()">
        Jolastokia
      </button>
    </mat-menu>
    <h1>Traineru Estropadak</h1>
  </div>
  <h3>KAE, TKE, Euskotren eta ETE ligen egutegia, emaitzak eta estatistikak.</h3>
</div>
