<form [formGroup]="form" novalidate>
  <mat-form-field>
    <mat-select formControlName="property" placeholder="Aukeratu balioa" (selectionChange)="changeDisplayProp()">
      <mat-option *ngFor="let prop of properties" [value]="prop">
        {{prop}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<div fxLayout fxLayout.xs="column" fxLayoutAlign="center start">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let header of displayColumnHeaders;let i=index; " [matColumnDef]="header">
      <mat-header-cell *matHeaderCellDef="let row">{{header}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="header === 'izena'">{{row.izena}}</span>
        <span *ngIf="header !== 'izena'">{{row[header][displayProp]}}</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumnHeaders"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumnHeaders;"></mat-row>
  </mat-table>
</div>
