<mat-toolbar *ngIf="showTitle === true">
    Liga sailkapena
</mat-toolbar>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="onChangeLeague($event)" *ngIf="showTitle !== true" class="box">
  <mat-button-toggle value="ACT" [checked]="league.toUpperCase() === 'ACT'">ACT</mat-button-toggle>
  <mat-button-toggle value="ARC1" [checked]="league.toUpperCase() === 'ARC1'">ARC1</mat-button-toggle>
  <mat-button-toggle value="ARC2" [checked]="league.toUpperCase() === 'ARC2'">ARC2</mat-button-toggle>
  <mat-button-toggle value="EUSKOTREN" [checked]="league.toUpperCase() === 'EUSKOTREN'">EUSKOTREN</mat-button-toggle>
  <mat-button-toggle value="ETE" [checked]="league.toUpperCase() === 'ETE'">ETE</mat-button-toggle>
</mat-button-toggle-group>
<mat-form-field *ngIf="league === 'gbl'">
  <mat-label>Kategoria </mat-label>
  <mat-select [(ngModel)]="category" (selectionChange)="onChangeCategory($event)">
    <mat-option *ngFor="let kat of kategoriak" [value]="kat">{{kat}}</mat-option>
  </mat-select>
</mat-form-field>
<ng-container *ngIf="sailkapena; else no_sailkapena">
  <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="Posizioa">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.position}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Taldea">
        <mat-header-cell *matHeaderCellDef>Taldea</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.izena}}
          <a [routerLink]="['/estropadak', league, year, row.izena]">
            <mat-icon>arrow_right</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Puntuak">
        <mat-header-cell *matHeaderCellDef>Puntuak</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.points}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Garaipenak">
        <mat-header-cell *matHeaderCellDef>Garaipenak</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.wins}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</ng-container>
<ng-template #no_sailkapena>
  <h3 style='text-align:center'>Sailkapena ez dago eskuragarri</h3>
</ng-template>
