<h2 class="mat-title">{{year}} {{league.toUpperCase()}} liga. Sailkapen orokorra</h2>
<mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="Posizioa">
      <mat-header-cell *matHeaderCellDef fxFlex="15"> Posizioa </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="15"> {{row.position}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Taldea">
      <mat-header-cell *matHeaderCellDef fxFlex="55"> Taldea </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="55"> {{row.izena}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Puntuak">
      <mat-header-cell *matHeaderCellDef fxFlex="15"> Puntuak </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="15"> {{row.points}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Banderak">
      <mat-header-cell *matHeaderCellDef fxFlex="15"> Banderak </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="15"> {{row.wins}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
