<form [formGroup]="form" novalidate>
  <mat-form-field>
    <mat-select formControlName="league" placeholder="Liga" (selectionChange)="updateYearsAndRefresh()">
      @for (league of leagues; track league) {
        <mat-option [value]="league">
          {{league | uppercase}}
        </mat-option>
      }
    </mat-select>
    <mat-label>Liga</mat-label>
  </mat-form-field>
  @if (isMultiCategory) {
    <mat-form-field>
      <mat-select formControlName="category" placeholder="Kategoria" (selectionChange)="updateYearsAndRefresh()">
        @for (kat of kategoriak; track kat) {
          <mat-option [value]="kat.code">
            {{ kat.name }}
          </mat-option>
        }
      </mat-select>
      <mat-label>Kategoria</mat-label>
    </mat-form-field>
  }
  @if (showYears) {
    <mat-form-field>
      <mat-select formControlName="year" placeholder="Urtea" (selectionChange)="yearChange()">
        <mat-option [value]="">Guztiak</mat-option>
        @for (year of years; track year) {
          <mat-option [value]="year">
            {{year}}
          </mat-option>
        }
      </mat-select>
      <mat-label>Urtea</mat-label>
    </mat-form-field>
  }
  @if (showTeams) {
    <mat-form-field>
      <mat-select formControlName="team" placeholder="Taldea" (selectionChange)="teamChange()">
        <mat-option [value]="">Guztiak</mat-option>
        @for (team of teams; track team) {
          <mat-option [value]="team">
            {{team}}
          </mat-option>
        }
      </mat-select>
      <mat-label>Taldeak</mat-label>
    </mat-form-field>
  }
  <button mat-button (click)="selectedData()">Aukeratu</button>
</form>