<mat-toolbar>Taldeen konparaketak</mat-toolbar>
<form [formGroup]="form" novalidate>
  <p>
    Aukeratu gehienez 6 talde eta konparatu urtee desberdinetan lortutako emaitzak. Taldeak elkarrekin lehiatu diren urteak bakarrik erakutsiko dira.
  </p>
  <mat-form-field>
    <mat-select formControlName="liga" placeholder="Liga" >
      <mat-option *ngFor="let liga of ligak" [value]="liga">
        {{liga}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select formControlName="team" placeholder="Taldea">
      <mat-option *ngFor="let team of taldeak" [value]="team.name">
        {{team.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button (click)="taldeaGehitu()" aria-label="Aukeratu">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
  <button mat-button (click)="compare()" [disabled]="!konparaketaEnabled">Konparatu</button>
  <br>
  <mat-form-field>
    <mat-select formControlName="metric" placeholder="Metrica">
      <mat-option *ngFor="let metric of metrics" [value]="metric.code">
        {{metric.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="aukeratutakoTaldeak.length > 0">
    <p>Aukeratutako taldeak:</p>
    <mat-chip-list #chipList aria-label="Taldeak">
      <mat-chip [removable]="removable" (removed)="taldeaKendu(taldea)" *ngFor="let taldea of aukeratutakoTaldeak">
        {{taldea}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
</form>

<button mat-icon-button *ngIf="viewMode === 'table'" (click)="changeMode('chart')">
  <mat-icon>show_chart</mat-icon>
</button>
<button mat-icon-button *ngIf="viewMode === 'chart'" (click)="changeMode('table')" [disabled]="!aukeraketaEnabled">
  <mat-icon *ngIf="viewMode === 'chart'">table_chart</mat-icon>
</button>

<div *ngIf="viewMode === 'table'">
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="urtea">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Urtea</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.urtea}}</mat-cell>
    </ng-container>


    <ng-container *ngFor="let taldea of aukeratutakoTaldeak" [matColumnDef]="taldea">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs>{{taldea}}</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide.xs>{{row.stats[taldea][form.get('metric').value]}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>

<div *ngIf="viewMode === 'chart'">
  <nvd3 [options]="options" [data]="chartData"></nvd3>
</div>